p {
  margin: 0;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  margin-bottom: 8%;
  margin-top: 2%;
}


.Ft {
  width: 69%;
  font-style: normal;
  font-weight: 700;
  font-size: 8vmin;
  line-height: 100%;
  text-transform: capitalize;
}

.Ft span {
  font-weight: 700;
  font-size: 8vmin;
  color: #ec6083;
}

.St {
  font-weight: 300;
  font-size: 2vmin;
  color: rgba(0, 0, 0, 0.6);
  width: 70%;
  margin: 3vh 0;
}

.Start_Btn {
  background: #ec6083;
  border-radius: 4vmin;
  border: 0;
  font-weight: 700;
  font-size: 2vmin;
  width: 18vmin;
  height: 6vmin;
  transition: box-shadow 0.3s ease-in-out;
}

.Start_Btn:hover {
  box-shadow: 0 0 30px #ec6083;
}

.MImg {
  height: auto;
  width: 45vmin;
}