body {
  font-family: "Arial";
  font-style: normal;
  color: #000;
}

header {
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Top_logo {
  height: 8vmin;
}

.Top_btn .active {
  color: rgb(230, 69, 69);
}

.Top_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Top_btn a {
  font-size: 2vmin;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  text-decoration: none;
  margin-right: 8%;
  transition: color 0.3s ease-in-out;
}

.Top_btn a:hover {
  color: rgb(230, 69, 69);
}


.Top_cntrl {
  height: 3vmin;
  width: 3vmin;
  border: 0px;
  border-radius: 0.7vmin;
  margin-right: 1vmin;
  padding: 0vmin;
  background-color: transparent;
  transition: box-shadow 0.3s ease-in-out;
}

.Top_cntrl:hover {
  box-shadow: 0 0 10px #cbc9c9;
}

.Top_cntrl img {
  height: 85%;
  margin: 0vmin;
}